body {
    background-color:aqua;
    background-image: url('../Images/bg3.jpg');
    background-size:cover;
    background-repeat:no-repeat;
}

.space
{
    padding-left:35%;
}

.content-space{
    display:flex;
    justify-content:center;
}

.form-top{
    margin-top:4%;
}