@model IEnumerable<StudentGradingSystem.Models.Student>
<br />

  <div style="position: relative;width:75%;">

    <div style="float:left;">
            <button type="button" style="border: none; " class="btn btn-primary" onclick="createStudent()">Create</button>
    </div>

    <div class="btn-group" style="float: right; margin-right: 2%;">
        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" id="btnPrint" class="bi bi-printer" title="Print" viewBox="0 0 16 16">
            <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z" />
            <path d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2H5zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4V3zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2H5zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1z" />
        </svg>

        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" id="btnPdf" class="bi bi-filetype-pdf" style="color: darkred" title="export as Pdf" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5L14 4.5ZM1.6 11.85H0v3.999h.791v-1.342h.803c.287 0 .531-.057.732-.173.203-.117.358-.275.463-.474a1.42 1.42 0 0 0 .161-.677c0-.25-.053-.476-.158-.677a1.176 1.176 0 0 0-.46-.477c-.2-.12-.443-.179-.732-.179Zm.545 1.333a.795.795 0 0 1-.085.38.574.574 0 0 1-.238.241.794.794 0 0 1-.375.082H.788V12.48h.66c.218 0 .389.06.512.181.123.122.185.296.185.522Zm1.217-1.333v3.999h1.46c.401 0 .734-.08.998-.237a1.45 1.45 0 0 0 .595-.689c.13-.3.196-.662.196-1.084 0-.42-.065-.778-.196-1.075a1.426 1.426 0 0 0-.589-.68c-.264-.156-.599-.234-1.005-.234H3.362Zm.791.645h.563c.248 0 .45.05.609.152a.89.89 0 0 1 .354.454c.079.201.118.452.118.753a2.3 2.3 0 0 1-.068.592 1.14 1.14 0 0 1-.196.422.8.8 0 0 1-.334.252 1.298 1.298 0 0 1-.483.082h-.563v-2.707Zm3.743 1.763v1.591h-.79V11.85h2.548v.653H7.896v1.117h1.606v.638H7.896Z" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" id="btnExcel" class="bi bi-file-earmark-excel" style="color: seagreen" title="export as excel" viewBox="0 0 16 16">
            <path d="M5.884 6.68a.5.5 0 1 0-.768.64L7.349 10l-2.233 2.68a.5.5 0 0 0 .768.64L8 10.781l2.116 2.54a.5.5 0 0 0 .768-.641L8.651 10l2.233-2.68a.5.5 0 0 0-.768-.64L8 9.219l-2.116-2.54z" />
            <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z" />
        </svg>
    </div>

  </div>


    <table id="studtable_id" class="table table-striped table-bordered dt-responsive nowrap">
        <thead style="background-color: #1C2833; color: white">
            <tr>
                <th>Register Number</th>
                <th>Name</th>
                <th>Date Of Birth</th>
                <th>Standard</th>
                <th>Mathematics</th>
                <th>Physics</th>
                <th>Chemistry</th>
                <th>Overall Grade</th>
                <th>Actions</th>
            </tr>
        </thead>
    </table>


    <div class="modal fade" id="dataModal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="ModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width:37%" role="document">
            <div class="modal-content" id="dataModalBody">


            </div>
        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>


    <script>

        var dataTable;
        $(document).ready(function () {
            dataTable = $('#studtable_id').DataTable({
                "ajax": {
                    url: "/Student/GetData",
                    type: "POST",
                    dataType: "json",

                },
                columns: [
                    { 'data': 'Regnum', 'name': "Regnum" },
                    { 'data': 'Name', 'name': "Name" },
                    {
                        'data': 'Dob', 'name': "Dob", "type": "DateTime",
                        "render": function (value) {
                            if (value === null) return "";
                            var pattern = /Date\(([^)]+)\)/;
                            var results = pattern.exec(value);
                            var dt = new Date(parseFloat(results[1]));
                            return dt.getDate() + "/" + (dt.getMonth() + 1) + "/" + dt.getFullYear()
                        }
                    },
                    { 'data': 'Standard', 'name': "Standard" },
                    { 'data': 'Mathematics', 'name': "Mathematics" },
                    { 'data': 'Physics', 'name': "Physics" },
                    { 'data': 'Chemistry', 'name': "Chemistry" },
                    { 'data': 'Grade', 'name': "Grade" },
                    {
                        'data': 'Id', 'render': function (data) {
                            return '<a class="blue" title="View" onclick="getStudent(' + data + ')" > <span class="glyphicon glyphicon-eye-open"></span></a> <a class="orenge" title="Edit" onclick="editGetStudent(' + data + ')" > <span class="glyphicon glyphicon-edit"></span></a>  <a class="red" title="Delete"  onclick="Delete(' + data + ')"> <span class="glyphicon glyphicon-trash"></span></a>';
                        }
                    }
                ],

                "serverSide": true,
                "order": [0, "asc"],
                "scrollY": "370px",
                "scrollCollapse": false,
                "processing": true,
                "dom": '<"top"f>rt<"bottom"ilp><"clear">',
                "dom": 'Bfrtipl',
                "buttons": [{
                    extend: 'excel',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7]
                    }
                },
                {
                    extend: 'pdf',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7]
                    }
                },
                {
                    extend: 'print',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7]
                    }
                }],
                "columnDefs": [{ "width": "15%", "targets": [0, 2, 3, 4, 5, 6, 7, 8], className: 'dt-head-center dt-body-center' }, {
                    'targets': [8],
                    'orderable': false,

                }],


            });


        });

        $(document).on('click', '#btnPrint', function () {
            $(".buttons-print")[0].click();
        });
        $(document).on('click', '#btnExcel', function () {
            $(".buttons-excel")[0].click();
        });
        $(document).on('click', '#btnPdf', function () {
            $(".buttons-pdf")[0].click();
        });

        function createStudent() {
            $.get("/Student/Create", { operation: "Add" }, function (res) {
                $('#dataModalBody').html(res);
                document.getElementById("dob").type = "date";
                $('#dob').keypress(function (event) {
                    event.preventDefault();
                    return false;
                });
                $('#reg').attr('readonly', false);
                document.getElementById("ViewModalLabel").innerHTML = "CREATE STUDENT"
                $("#btnSave").show();
                $('#dataModal').modal('show');
                btnEdit.style.visibility = 'hidden';
                var div = document.getElementById("gradeDiv");
                if (div.style.display !== "none") {
                    div.style.display = "none";
                }
                else {
                    div.style.display = "block";
                }
            })
        }

        function getStudent(id) {
            $.get("/Student/Edit", { operation: "View", id: id }, function (res) {
                $('#dataModalBody').html(res);
                $('#dob').keypress(function (event) {
                    event.preventDefault();
                    return false;
                });
                $('#dataModal').modal('show');
            })
        }

        function editGetStudent(id) {
            $.get("/Student/Edit", { operation: "Edit", id: id }, function (res) {
                $('#dataModalBody').html(res);
                $("#btnUpdateSave").show();
                $('#dob').keypress(function (event) {
                    event.preventDefault();
                    return false;
                });
                $('#reg').keypress(function (event) {
                    event.preventDefault();
                    return false;
                });
                btnEdit.style.visibility = 'hidden';
                var div = document.getElementById("gradeDiv");
                if (div.style.display !== "none") {
                    div.style.display = "none";
                }
                else {
                    div.style.display = "block";
                }

                document.getElementById("ViewModalLabel").innerHTML = "EDIT STUDENT";
                $('#dataModal').modal('show');
            })
        }

        function Delete(id) {
            $.get("/Student/Delete", { id: id }, function (res) {
                if (res) {
                    $('#dataModalBody').html(res);
                    $('#dataModal').modal('show');
                    dataTable.ajax.reload();
                }
            })
        }

    </script>
